html{
    width: 1260px;
    height: 940px;
    background-color: #edf2c5;
    margin: 0px auto;
}
header{
    width: 940px;
    margin: auto;
}
.title{
    display: block;
    justify-content: space-between;
    margin: 10px;
}
.Vegetables{
    width: 271px;
    height: 62px;
    font-family: Arial;
    font-size: 44px;
    font-weight: 900;
    line-height: 0.82;
    text-align: left;
    color: #778a50;
    margin: 53px 0px -90px 0px;
}
/* btn */
.btn{
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
}
.btn_facebook{
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin: 0px 5px;
}
.btn_instagram{
    width: 25px;
    height: 25px;
    object-fit: contain;
    margin: 0px 5px;
}
.line_login{
    width: 1px;
    height: 25px;
    margin: 0px 5px;
    background-color: #778a50;
}
.btn_LOGIN_box{
    width: 55px;
    height: 25px;
    border: solid 1px #778a50;
    background-color: #EDF2C5;
    margin-left: 10px;
    border-radius: 3px;
    margin: 0px 5px;
}
.btn_JOIN_box{
    width: 49px;
    height: 25px;
    border: solid 1px #778a50;
    background-color: #EDF2C5;
    margin-left: 10px;
    border-radius: 3px;
    margin: 0px 5px;
}
.btn_LOGIN_box p{
    width: 46px;
    height: 15px;
    font-family: Arial Black;
    margin: 5px 5px;
}
.btn_JOIN_box p{
    width: 35px;
    height: 15px;
    font-family: Arial Black;
    margin: 5px 5px;
}
.btn p{
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 2;
    text-align: left;
    color: #778a50;
    margin: 0px 5px 10px 6.5px;
}
.nav_box {
    width: 940px;
    height: 44px;
    border-radius: 3px;
    background-color: #778a50;
    margin: 0px;
}
/* nav */
.nav_box ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.nav_box ul li{
    font-family: Arial Black;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.6;
    text-align: left;
    color:#edf2c5;
    margin: 10px 30px;
}
main{
    margin: auto;
    width: 940px;
}
/* bottom left*/
.bottom{
    display: flex;
}
.img_main_pumpkin{
    width: 940px;
    height: 448px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 30px;
}
.pictures{
    margin-top: 0px;
}
.body_box_vegetables{
    display: flex;
    width: 444px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50;
    margin: 0px;
}
.body_box_vegetables p{
    width: 98px;
    height: 23px;
    font-family: Arial Black;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.5;
    text-align: left;
    color: #edf2c5;
    margin: 0px;
    padding: 10px 316px 12px 30px;
}
.img_vegetables{
    display: flex;
}
.img_vegetables_pepper{
    width: 140px;
    height: 140px;
    object-fit: contain;
    padding: 12px 0px 0px 0px;
}
.img_vegetables_carrot{
    width: 140px;
    height: 140px;
    object-fit: contain;
    padding: 12px 12px 12px 12px;
}
.img_vegetables_corn{
    width: 140px;
    height: 140px;
    object-fit: contain;
    padding: 12px 0px 0px 0px;
}
/* bottom right*/
.Contact{
    margin-top: 0px;
    padding-left: 52px;
}
.body_box_contact{
    width: 444px;
    height: 45px;
    border-radius: 3px;
    background-color: #778a50;
    margin: 0px;
}
.body_box_contact p{
    width: 69px;
    height: 23px;
    font-family: Arial;
    font-size: 16px;
    font-weight: 900;
    line-height: 1.5;
    text-align: left;
    color: #edf2c5;
    margin: 0px;
    padding: 10px 316px 12px 30px;
}
.body_box_contact_text{
    width: 444px;
    height: 140px;
    background-color: #f7fbda;
    margin-top: 15px;
}
.text1{
    width: 414px;
    height: 44px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: justify;
    color: #7d7d7d;
    padding: 15px;
    margin: 0px;
}
.line_contact_text{
    width: 400px;
    height: 1px;
    background-color: #7d7d7d;
    margin: 0px 0px 0px 15px;
}
.text2{
    width: 197px;
    height: 35px;
    font-family: Arial;
    font-size: 12px;
    line-height: 1.75;
    text-align: left;
    color: #7d7d7d;
    margin-left: 15px;
}
/* footer */
.box_footer{
    width: 1260px;
    height: 60px;
    background-color: #778a50;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.box_footer_text p{
    width: 301px;
    height: 14px;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
    color: #edf2c5;
    padding-top: 10px;
}

